# Python-related ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.DS_Store

# Virtual environment
venv/
env/
ENV/
.venv/
.VENV/

# Django-related ignores
db.sqlite3
*.sqlite3
migrations/
media/
staticfiles/
static/
files/
images/
uploads/

# Logs and debugging related ignores
*.log
logs/
debug.log

# Environment settings
*.env

# VS Code related ignores
.vscode/

# Pytest and testing related ignores
htmlcov/
.coverage
.cache
.pytest_cache/
pytestdebug.log

# Idea (PyCharm/IntelliJ) related ignores
.idea/

# Ignore Python wheel packages
*.egg
*.egg-info/
dist/
build/

# Microsoft Office documents (for briefing)
briefing/*.docx
